.app__about {
    flex: 1;
    width: 100%;
    flex-direction: column;
  }
  
  .app__profiles {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 2rem;
  }
  
  .app__profile-item {
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-color: #1acefe;
    border-radius: 10px;
    padding: 10px;
    text-align: center;


    width: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2rem;
  
    img {
      width: 100%;
      object-fit: fill;
    }
    
    h2, p {
      text-align: center;
      font-weight: 200;
    }

    @media screen and (min-width: 2000px) {
      width: 370px;
      margin: 2rem 4rem;
    }
  }